 body{
    display:flex;
    flex-direction: center;
    align-items:center;
    background-color:#51697b;
    justify-content: center;
    
 }

 #myH1{
    font-size:4rem;
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
   
 }

 #container{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:30px;
    border:5px solid;
    border-color: antiquewhite;
    border-radius:  50px;
    background-color:grey;

 }

 #display{
    font-size: 5rem;
    font-family:monospace;
    font-weight:bold;
    color: rgba(27, 27, 27, 0.699);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    margin: bottom 25px;
    align-items:center;
 }

 #controls button{
font-size:  1.5rem;
font-weight:bold;
padding:10px 20px;
margin:5px;
min-width:125px;
border:none;
border-radius: 10px;
cursor: pointer;
color: white;
 }

 #startBtn{
    background-color: rgba(2, 107, 2, 0.753);
 }
 #startBtn:hover{
    background-color: rgba(0, 128, 0, 0.37);
 }
 #stopBtn{
    background-color: rgba(107, 18, 2, 0.856);
 }
 #stopBtn:hover{
    background-color: rgba(201, 40, 0, 0.521);
 }
 #resetBtn{
    background-color: rgba(117, 117, 117, 0.966);
 }
 #resetBtn:hover{
    background-color: rgba(150, 150, 150, 0.63);
 }

 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
   text-decoration:none;
   border: none;
   outline:none;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
   font-size:  62.5%;
}

body{
   width:100%;
   height:100vh;
   overflow-x: hidden;
   background-color:#51697b;
   color:antiquewhite;

}

header{
   margin-top: 20px;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   padding:1rem 9%;
   background-color: transparent;
   filter: drop-shadow(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo{
   font-size:3rem;
   color: antiquewhite;
   font: weight 800;
   cursor: pointer;
   transition:0.5s ease;
}

.logo:hover{
   transform:scale(1.1);
}

nav a {
   font-size:1.8rem;
   color:antiquewhite;
   margin-left: 4rem;
   font-weight:500;
   transition:0.3 ease;
   border-bottom:3px solid transparent;
}

nav a:hover,
nav a.active{
   color:#1c26aa;
   border-bottom: 3px solid #163b8a;
}


